*{
    margin: 0;
    padding: 0;
}

body {
    border-radius: 15px;
    background: url(https://imagizer.imageshack.com/v2/1001x667q90/922/01SXQL.jpg);
    background-size: cover;
}

.container {
    margin-top: 100px;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
    background: rgba(3, 3, 4, 0.7);
}
